<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add connectionString = "Data Source=ADCLG1;Initial Catalog=praktikaZvereva;Integrated Security=True" name ="praktikaZvereva"/>
  </connectionStrings>




</configuration>
